/* ===================header */
header {
    height:70px; background-color:#fff; padding:0 30px;
    position:fixed; left:0; top:0; width:100%; z-index:999;
    /* header 자식 h1, nav, lnb */
    display:flex; justify-content:space-between; align-items:center;
}
header h1 {}
header h1 a {}
header h1 a img {}
/* ===================header nav-desktop */
header > nav {}
header > nav .sub_bg {
    width:100%; height:220px; position:absolute; z-index:-5; left:0; top:70px;
    background-color:#fff;
}
header > nav .gnb {
    /* 초기모습 수직 메뉴 이유 : li block */
    /* li 옆으로 배치하기 때문에 부모 gnb -> flex */
    display:flex;
}
header > nav .gnb > li {
    /* 형제 구조 li->width값 입력 시 글자수가 달라서 간격차이가 생기므로 여백으로 해결 */
    font-weight:700; margin-right:100px;
    position:relative;
}
header > nav .gnb > li:last-child {margin:0;}
header > nav .gnb > li > a {font-weight:700;}
header > nav .gnb > li > .sub {
    width:100%;
    position:absolute; left:0; top:36px;
}
header > nav .gnb > li > .sub li {}
header > nav .gnb > li > .sub li a {
    font-size:0.938rem; white-space:nowrap;
    display:block;
    line-height:30px;
}
header > nav .gnb > li > .sub li a img{width:170px;}
/* ===================header nav-mobile */
header .lnb {
    /* 자식 m_nav(block), my_menu, notice */
    display:flex;
}
header .lnb .m_nav {display:none;}/* 모바일메뉴 숨기기 */
header .lnb .m_nav .all_nav {
    display:block; width:24px; height:24px;
}
header .lnb .m_nav .all_nav img {width:100%;}
/* ===================header 모바일 nav clone 디자인 */
header .lnb .m_nav nav {
    /* display:none; */
}
header .lnb .m_nav nav .sub_bg {
    position:absolute; right:0; top:70px;
    width:500px; height:100vh;
    background-color:#fff;
}
header .lnb .m_nav nav .gnb {
    padding-top:20px;
    width:calc(500px - 28px);
    position:absolute; right:0; top:70px;
    margin:0 14px;
}
header .lnb .m_nav nav .gnb > li {}
header .lnb .m_nav nav .gnb > li > a {
    line-height:37px;
    font-weight:700; display:block;
    border-bottom:1px solid #aaa;
}
header .lnb .m_nav nav .gnb > li > .sub {display:none;}
header .lnb .m_nav nav .gnb > li > .sub li {}
header .lnb .m_nav nav .gnb > li > .sub li a {
    display:block; line-height:50px;
    border-bottom:1px dashed #ddd;
}
/* ===================header lnb */
header .lnb .my_menu {}
header .lnb .notice {background-position-x:right;}
header .lnb > a {
    background-image:url(../images/ico_header.png);
    background-repeat:no-repeat;
    width:20px; height:25px; margin-left:12px;
}
header .lnb > a span {
    display:none;
}
/* ===================main */
main {margin-top:70px;}
/* ===================main visual 캐스퍼 카탈로그, 다운로드 */
main .visual {
    background-image:url(../images/visual.png);
    background-position:center;
    background-size:cover;
    height:calc(100vh - 70px);
}
/* main-viusal 폰트&마우스 디자인 */
main .visual .txt {padding-top:50px; text-align:center;}
main .visual .txt h1 {font-size:5rem; font-weight:800; color:#fff; letter-spacing:-0.2px; margin-bottom:30px;}
main .visual .txt p {font-size:1.25rem; font-weight:500; color:#fff; letter-spacing:-0.2px; margin-bottom:20px;}
main .visual .txt .link {}
main .visual .txt .link a {font-weight:500;
    background-color:#002C5F; color:#fff; padding:0 20px; line-height:36px; display:inline-block;}
main .visual .scroll {
    text-align:center;
    position:absolute; width:100%; bottom:50px;
}
main .visual .scroll img {
    width:50px; filter:invert(1);
    animation:move 0.8s ease-in-out alternate infinite;
}